* { 
  margin: 0;
  padding: 0;
}

li {
  height: auto;
}

html, body { 
  width: 100%;
  height: 100%;
  overflow: hidden;
}

canvas { 
  display: block;
}

.main-content-wrapper {
  display: flex;
  justify-content: flex-start;
}

#info-section {
  position: absolute;
  right: 0px;
  padding: 15px;
  user-select: none;
  display: flex;
  justify-content: space-between;
  width: 85px;
}

i {
  font-size: 40px;
  color: #999;
}

i:hover {
  transform:scale(1.2);
  transition: 200ms;
  cursor: pointer;
}

#controls {
  position: absolute;
}

#item-control-panel {
  padding: 10px;
  background-color: #BBB;
  border-right: 2px solid #666;
  border-bottom: 2px solid #666;
  border-bottom-right-radius: 10px;
}

#panel-list {
  display: flex;
  flex-direction: column;
  list-style: none;
}

#item-dragger {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 6px;
  user-select: none;
}

img {
  width: 36px;
  top: 50%;
  bottom: 50%;
  object-fit: contain;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}

#control-icons {
  padding: 15px;
  user-select: none;
  display: flex;
  justify-content: space-between;
  width: 85px;
}

.active {
  border-bottom: 2px solid black;
}

#size-picker {
  width: 81px;
  padding: 6px;
}

input {
  width: 100%;
}

#color-picker {
  display: grid;
  grid-gap: 9px;
  padding: 6px;
}

.color-choice {
  border: 2px solid transparent;
  border-radius: 5px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.selected-color {
  border-color: lightgrey;
}

#red {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background-color: #F00;
}

#yellow {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background-color: #EE0;
}

#green {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  background-color: #0B0;
}

#blue {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: #00F;
}

/* MODAL */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 15px;
  width: 25rem;
  border-radius: 10px;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}
.close-button:hover {
  background-color: darkgray;
}
.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}